        <div class="page-data">
            
            <h2>Edit User</h2>
            
            <form method="post">
                <table cellpadding="11">
                <tr>
                    <td class="label">FirstName</td><td>: <input type="text" ng-model="user.name" required></td>
                 </tr>
                 <tr>
                    <td class="label">LastName</td><td>: <input type="text" ng-model="user.lastname" required></td>
                 </tr>
                
                <tr>
                    <td class="label">Email</td><td>: <input type="text" ng-model="user.email" required></td>
                 </tr>
                  <tr>
                    <td class="label">Designation</td><td>: <input type="text" ng-model="user.designation" required></td>
                 </tr>
                  <tr>
                    <td class="label">Company</td><td>: <input type="text" ng-model="user.company" required></td>
                 </tr>
                 <tr>
                   
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save" ng-click="updateInfo()">
                       <input type="button" name="cancel" value="Cancel" class="cancel" ng-click="cancel()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>

