
<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
<title><%=page_title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
 <link href="/../css/bootstrap/js/bootstrap.min.js" rel="stylesheet">
 <link href="/../css/style.css" rel="stylesheet">
  <link href="/../css/normal.css" rel="stylesheet">
   <link href="/../css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/lib/angular/angular.js"></script>

 
    <script src="js/lib/angular-modal-service.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="js/app.js"></script>
    <script src="js/services.js"></script>
   <script src="js/controllers.js"></script>
     <script src="js/filters.js"></script>
      <script src="js/directives.js"></script>
  

        <script src="js/index.js"></script>
                <script src="js/stack.js"></script>

</head>
<body ng-app="myApp">
<div id="headerwrap">
  <header id="mainheader" ng-controller='headCtrl' class="bodywidth clear login"> <img src="/../images/logo.png" alt="" class="logo">
    <hgroup id="websitetitle">
      <h1><span class="bold">Questions</span>Stack</h1>
      <h2>millions of questions...</h2>
    </hgroup>
    <nav>
     <!-- <ul>
        <li><a href="#/">Home</a></li>

        <li><a ng-click='logout()' id='non'>Logged in as: {{email}}</a></li>
        <li><a href='#/login/' id='loggedIn'>Login</a></li>
          <li><a ng-click='logout()' id='non'>Logout</a></li>
            <li><a href="#">News</a></li>
     
        <li><a href="#">Contact Us</a></li>
      </ul>-->
       <ul id='non'>
        <li><a href="#/">Home</a></li>

        <li><a ng-click='logout()'>Logged in as: {{email}}</a></li>
        <li><a href='#dashboard'>Dashboard</a></li>
          <li><a ng-click='logout()'>Logout</a></li>
          
            <li><a href="#">News</a></li>
     
        <li><a href="#">Contact Us</a></li>
      </ul>
       <ul id='loggedIn'>
        <li><a href="#/">Home</a></li>

        <li><a href='#/login/'>Login</a></li>

            <li><a href="#">News</a></li>
     
        <li><a href="#">Contact Us</a></li>
      </ul>
      
    </nav>
  </header>     
  
  
  
  <div ng-view></div>
  
  
  
  
  
  
  
 <!-- <div id="footerwrap">
  <footer id="mainfooter" class="bodywidth clear">
    <nav class="clear">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <p class="copyright">Website Template By <a target="_blank" href="http://www.tristarwebdesign.co.uk/">Tristar</a> &amp; Modified By <a target="_blank" href="http://www.os-templates.com/">OS Templates</a></p>
  </footer>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>  -->
